body{
    padding: 0%;
    margin: 0%;
}
#listeprincipale ul{
  margin: 0%; 
  padding: 0%; 
  align-items: center;
  width: 100%;
  height: 25px; 
  position: fixed;
  
}
#listeprincipale ul li{
display: flex;
align-items: center;
list-style: none;
float:right;
padding:25px 25px 25px 25px ;

}
#listeprincipale ul li a{
text-decoration: none;
gap: 10px;
display: block;
text-align: centers;
padding: 18px 16px;



color: black;

}
#listeprincipale ul li a :hover{
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.6s ease-in-out;

}
#titre{

  padding: 160px 160px 160px 160px ;
}
#logo{
  float: left;
  list-style: none;


}
#listesecondaire  li{
  list-style: none;
  display: flex;

}
#listesecondaire li a{
  display: block;
text-decoration: none;
}
#image{
 background: url(/images/kubra-gokkaya-0MQe9AJzdH8-unsplash.jpg) no-repeat fixed;
 background-size: cover;

}



/* design du card */
.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;

}
.details{
  color: #F2F2F2;
}
.img{
  width: 100%;
  height: 220px;
}
.img:hover{
  transition: all 1s;
  transform: scale(1.2);
  cursor: pointer;
  border-bottom: none;

}

  
.conteneur{
  

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  margin: 80px 20px 0px 80px;

    
     
}
.card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #402811;
  padding: 10px;
  border-radius: 10px;
  width: 380px; /* important avec grid */
  height: 320px;
       
}
.btn-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


