body{
    padding: 0%;
    margin: 0%;
    font-weight: bold;
}
#listeprincipale ul{
  margin: 0%; 
  padding: 0%; 
  align-items: center;
  width: 100%;
  height: 25px; 

  
}
#listeprincipale ul li{
display: flex;
align-items: center;
list-style: none;
float:right;
padding:25px 25px 25px 25px ;
font-size: 20px;

}
#listeprincipale ul li a{
text-decoration: none;
gap: 10px;
display: block;
text-align: centers;
padding: 18px 16px;



color: black;

}
#listeprincipale ul li a:hover{
  
  transition: 1s;
  transform: scale(1.2);
cursor: pointer;
color: aqua;
  } 
  

#titre{

  padding: 160px 160px 160px 160px ;
  font-size: 50px;
  font-family: satisfy,cursive;
  font-weight: 400;

  
  
}
#logo{
  float: left;
  list-style: none;


}
#listesecondaire  li{
  list-style: none;
display: flex;
align-items: center;
list-style: none;
float: right;
padding:25px 25px 25px 25px ;
font-size: 20px;
  font-weight: 400;
  font-size: 45px;
    font-family: "PT Sans Narrow", sans-serif;
background-color: black;
border-radius: 200px;


}
#listesecondaire li a{
  display: flex;
text-decoration: none;
}
#image{
 background: url(/images/kubra-gokkaya-0MQe9AJzdH8-unsplash.jpg) no-repeat fixed;
 background-size: cover;
 width: 100%;
 height: 1000px;

}
/* style des liste  */
  






/* design du card */
.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;

}
.details{
  color: #F2F2F2;
}
.img{
  width: 100%;
  height: 220px;
}
.img:hover{
  transition: all 1s;
  transform: scale(1.2);
  cursor: pointer;
  border-bottom: none;

}

  
.conteneur{
  

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  margin: 80px 20px 0px 80px;

    
     
}
.card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #402811;
  padding: 10px;
  border-radius: 10px;
  width: 380px; /* important avec grid */
  height: 320px;
       
}
.btn-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


