body{
    padding: 0%;
    margin: 0%;
}
#listeprincipale ul{
  margin: 0%; 
  padding: 0%; 
  align-items: center;
  width: 100%;
  height: 25px; 
  position: fixed;
  
}
#listeprincipale ul li{
display: flex;
align-items: center;
list-style: none;
float:right;
padding:25px 25px 25px 25px ;

}
#listeprincipale ul li a{
text-decoration: none;
gap: 10px;
display: block;
text-align: centers;
padding: 18px 16px;



color: black;

}
#listeprincipale ul li a :hover{
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.6s ease-in-out;

}
#titre{

  padding: 160px 160px 160px 160px ;
}
#logo{
  float: left;
  list-style: none;


}
#listesecondaire  li{
  list-style: none;
  display: flex;

}
#listesecondaire li a{
  display: block;
text-decoration: none;
}
#image{
 background: url(/images/kubra-gokkaya-0MQe9AJzdH8-unsplash.jpg) no-repeat fixed;
 background-size: cover;

}


